@model List<DiyetSefii.Models.YemekOzellikler>
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .form-group h4 {
            font-size: 18px;
        }

        .form-group .custom-select {
            padding-right: 30px;
        }

            .form-group .custom-select:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #000;
            }
    </style>
    <style>
        .custom-div {
            background-color: rgba(255, 255, 255, 0.5);
            margin: 50px auto;
            width: 100%;
            height: 60%;
            padding: 20px;
            margin-bottom: 50%;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="~/templatemo_560_astro_motion/img/favicon.ico">
    <title>Diyet Şefim</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/templatemo_560_astro_motion/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/templatemo_560_astro_motion/css/slick.css" type="text/css" />
    <link rel="stylesheet" href="~/templatemo_560_astro_motion/css/templatemo-style.css">

</head>
<body>
    <video autoplay muted loop id="bg-video">
        <source src="~/templatemo_560_astro_motion/video/gfp-astro-timelapse.mp4" type="video/mp4">
    </video>
    <nav style="padding-left:10%" class="navbar navbar-expand-lg" id="tm-nav">
        <img src="~/templatemo_560_astro_motion/img/logo.jpg" width="5%" height="5%">
        <a style="padding-left: 2%;" class="navbar-brand" href="#">Diyet Şefim</a>
    </nav>
    <div class="page-container">
        <h1 style="color:white">Diyet Testi Sonuçları</h1>
        <div style="padding-top:5%" class="container-fluid">
            <div class="container">
                <div class="custom-div">
                    <h3>Verdiğiniz Sonuçları İnceledik...</h3>
                    <p>Size Özel Hazırladığımız Menümüz.</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Yemek</th>
                                <th>Protein</th>
                                <th>Yağ</th>
                                <th>Karbonhidrat</th>
                                <th>Tuz</th>
                                <th>Şeker</th>
                                <th>Kalori</th>
                            </tr>
                        </thead>

                        @foreach (var X in Model)
                        {
                            <tr>
                                <td>@X.Yemekler</td>
                                <td>@X.Protein</td>
                                <td>@X.Yağ</td>
                                <td>@X.Karbonhidrat</td>
                                <td>@X.Tuz</td>
                                <td>@X.Şeker</td>
                                <td>@X.Kalori</td>
                            </tr>

                        }
                    </table>
                    <a onclick="location.reload()" style="color:black;" data-page-no="2" class="btn btn-primary tm-intro-btn tm-page-link">
                      Menüyü Değiştirmek İçin Tıklayın
                    </a>
                </div>
            </div>

        </div>
        <div id="loader-wrapper">
            <div id="loader"></div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <script src="~/templatemo_560_astro_motion/js/jquery-3.5.1.min.js"></script>
        <script src="~/templatemo_560_astro_motion/js/bootstrap.min.js"></script>
        <script src="~/templatemo_560_astro_motion/js/slick.js"></script>
        <script src="~/templatemo_560_astro_motion/js/templatemo-script.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>*@
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
